body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #007BFF; /* Darker Blue */
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #FF8C00; /* A brighter orange */
  color: white;
  position: relative; /* Changed to relative */
  width: 100%;
}

.image-gallery {
  display: flex;
  justify-content: space-around;
}

.image-gallery img {
  width: 200px;
  height: auto;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-member {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping for better responsiveness */
}

.member {
  text-align: center;
  margin: 10px;
}

.member img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #007BFF; /* Optional border color */
}

/* Optional styling for member names and roles */
.member p {
  margin: 5px 0;
}
